@charset "utf-8";

body {
	background-color: darkblue;
}
img {
	width: 400px;
}
img:hover {
	border: double #D9FDFE 10px;
	width: 400px;
}
h2 { 
	letter-spacing: 2px;
	font-family: Fantasy;
	color: #D9FDFE
}
body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid Blue;
  background-color: blue;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
	font-family: Fantasy;
}

ul li a:hover:not(.active) {
  background-color: darkblue;
}

ul li a.active {
  background-color: cornflowerblue;
}
